html, body {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-flow: column wrap;
  align-items:center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px
}


.content {
  padding: 10px;
  flex: 1 0 auto;
}

.period {
  border: 2px solid black
}

.footer {
  flex-shrink: 0;
}

.period {
  display: flex;
  flex-flow: row wrap;
}

.period div {
  width: 75%
}

.period img {
  height: 100%;
  object-fit:cover;
}
